<!doctype html>
<html lang="en" ng-app="phonecatApp" ng-controller="PhoneListCtrl">
<head>
  <meta charset="utf-8">
  <title>Google Phone Gallery: {{query}}</title>
  <!-- <title ng-bind-template="Google Phone Gallery: {{query}}">Google Phone Gallery</title> -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/animations.css">

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/animations.js"></script>
  <script src="js/controllers_5.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/services.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				Search: <input ng-model="query"> 
				<!-- First, we added a <select> html element named orderProp, so that our users can pick from the two provided sorting options -->
				Sort by: {{orderProp}}
					<select ng-model="orderProp">
						<option value="name">Alphabetical</option>
						<option value="age">Newest</option>
					</select>
			</div>
			<div class="col-md-10">
				<ul class="phones">					
					<!-- We then chained the filter filter with orderBy filter to further process the input into the repeater.
						 orderBy is a filter that takes an input array, copies it and reorders the copy which is then returned. -->
					<li ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="thumbnail">
						<a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}" /></a> <!-- try <img src="{{phone.imageUrl}}" /> -->
						<a href="#/phones/{{phone.id}}">{{phone.name}}</a>						
						<p>{{phone.snippet}}</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
<pre>{{phones | filter:query | orderBy:orderProp | json}}</pre>