<!doctype html>
<html lang="en" ng-app="phonecatApp" ng-controller="PhoneListCtrl">
<head>
  <meta charset="utf-8">
  <title>Google Phone Gallery: {{query}}</title>
  <!-- <title ng-bind-template="Google Phone Gallery: {{query}}">Google Phone Gallery</title> -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/animations.css">

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/animations.js"></script>
  <script src="js/controllers_2.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/services.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				Search: <input ng-model="query"> 
			</div>
			<div class="col-md-10">
				<ul class="phones">
					<!-- The filter function uses the query value to create a new array that contains only those records that match the query. -->
					<li ng-repeat="phone in phones | filter:query">
						{{phone.name}}
						<p>{{phone.snippet}}</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>